*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.xcworkspacedata filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.xcuserstate filter=lfs diff=lfs merge=lfs -text
*.xcscheme filter=lfs diff=lfs merge=lfs -text
*.xcbkptlist filter=lfs diff=lfs merge=lfs -text
*.swift filter=lfs diff=lfs merge=lfs -text
*.storyboard filter=lfs diff=lfs merge=lfs -text
*.entitlements filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.strings filter=lfs diff=lfs merge=lfs -text
/Podfile filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
/Pods/Alamofire/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Pods/AppAuth/LICENSE filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
/Pods/BoringSSL-GRPC/LICENSE filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.grpc_back filter=lfs diff=lfs merge=lfs -text
*.modulemap filter=lfs diff=lfs merge=lfs -text
*.back filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
/Pods/DKImagePickerController/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/Firebase/CoreOnly/NOTICES filter=lfs diff=lfs merge=lfs -text
/Pods/Firebase/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/FirebaseAnalytics/Frameworks/FIRAnalyticsConnector.framework/FIRAnalyticsConnector filter=lfs diff=lfs merge=lfs -text
/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/FirebaseAnalytics filter=lfs diff=lfs merge=lfs -text
*.mm filter=lfs diff=lfs merge=lfs -text
/Pods/FirebaseMLCommon/Frameworks/FirebaseMLCommon.framework/FirebaseMLCommon filter=lfs diff=lfs merge=lfs -text
/Pods/FirebaseMLVision/Frameworks/FirebaseMLVision.framework/FirebaseMLVision filter=lfs diff=lfs merge=lfs -text
/Pods/FirebaseMLVisionTextModel/Frameworks/FirebaseMLVisionTextModel.framework/FirebaseMLVisionTextModel filter=lfs diff=lfs merge=lfs -text
*.bincfg filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.class_lst filter=lfs diff=lfs merge=lfs -text
*.conv_model filter=lfs diff=lfs merge=lfs -text
*.lstm_model filter=lfs diff=lfs merge=lfs -text
/Pods/GoogleAppMeasurement/Frameworks/GoogleAppMeasurement.framework/GoogleAppMeasurement filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/Pods/GoogleSignIn/Frameworks/GoogleSignIn.framework/GoogleSignIn filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
/Pods/GoogleUtilities/GoogleUtilities/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/NXDrawKit/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/PKHUD/LICENSE filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
/Pods/Protobuf/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/RSKImageCropper/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/SDWebImage/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/SVProgressHUD/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/SwiftyJSON/LICENSE filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
*.xcconfig filter=lfs diff=lfs merge=lfs -text
*.markdown filter=lfs diff=lfs merge=lfs -text
*.xcfilelist filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/Pods/abseil/LICENSE filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
/Pods/leveldb-library/LICENSE filter=lfs diff=lfs merge=lfs -text
/Pods/libwebp/COPYING filter=lfs diff=lfs merge=lfs -text
/Pods/libwebp/README filter=lfs diff=lfs merge=lfs -text
*.mux filter=lfs diff=lfs merge=lfs -text
*.webp_js filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
